
verification
----------------------------


NO | NAME | DATA TYPE | PK | FK | COMMENTS
---|------|-----------|----|----|-------------------
1|`id` | integer | V |  | 
2|`user_id` | uuid |  | [`users`](users.md) | 
3|`request_id` | varchar |  |  | 
4|`finished_at` | timestamp |  |  | 
5|`deleted_at` | timestamp |  |  | 
